body{
    font-family: 'PT Sans', sans-serif;
}
.axis text {
    font: 10px sans-serif;
<<<<<<< HEAD
=======

>>>>>>> 119098384fb4dc55900723bc75cf46169d5b7122
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.boundingBox{
    cursor: pointer;
    fill: grey;
    fill-opacity: .3;
    pointer-events: all;
}

.brush{
    fill: darkgrey;
    fill-opacity: .5;
    pointer-events: none;
}

<<<<<<< HEAD
.area {
    fill: lightsteelblue;
    stroke-width: 0;
}
=======
g.tick{
    padding: 300cm;
}

.container{
    height:1200px;
}
>>>>>>> 119098384fb4dc55900723bc75cf46169d5b7122
