body{
    font-family: 'PT Sans', sans-serif;
}

h3{
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    color:black;
    font-weight: bolder;
    
}
.axis text {
    font: 10px sans-serif;

}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.barUpper
{
    fill: purple;
}
.barLower
{
    fill: orange;
}

.barUpper:hover,
.barLower:hover
{
    fill : orangered;
}

.boundingBox{
    cursor: pointer;
    fill: grey;
    fill-opacity: .3;
    pointer-events: all;
}

.brush{
    fill: darkgrey;
    fill-opacity: .5;
    pointer-events: none;
}

.type-label
{
    fill: grey;
}

.area {
    fill: lightsteelblue;
    stroke-width: 0;
}

g.tick{
    padding: 300cm;
}

.container{
    height:1000px;
}

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: lightpink;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events: none;
}
#tooltip.hidden {
    opacity: 0;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
}

#rssfeed{
    padding-top:30px;
}

#feed_header{
    padding-right: 120px;
}

#moneybars0:active, #moneybars0:hover, #moneybars1:active, #moneybars1:hover, 
#moneybars2:active, #moneybars2:hover, #moneybars3:active, #moneybars3:hover{
    opacity:1;

}